.first-card,
.second-card,
.third-card {
  position: relative;
  width: 300px;
  display: inline-block;
  padding: 10px;
  margin: 10px;
  border: 1px solid rgba(127, 114, 130, 0.21);
  border-radius: 15px;
  text-align: left;
}

.head-of-card,
.middle-of-card,
.footer-of-card {
  font-family: Verdana, Geneva, sans-serif;
  letter-spacing: -0.4px;
  word-spacing: 0.8px;
  color: #ffffff;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  padding-left: 10%;
}

.first-card {
  background-image: linear-gradient(
    90deg,
    rgba(255, 190, 150, 1) 0%,
    rgba(249, 131, 150, 1) 100%
  );
}
.second-card {
  background-image: linear-gradient(
    90deg,
    rgba(112, 221, 212, 1) 0%,
    rgba(16, 142, 224, 1) 100%
  );
}

.third-card {
  background-image: linear-gradient(
    90deg,
    rgba(123, 218, 208, 1) 0%,
    rgba(5, 179, 156, 1) 74%
  );
}

.footer-of-card {
  padding-top: 10%;
}
.middle-of-card {
  font-size: 1.5em;
}

.icon-position1::after {
  content: url(../icons/chart-line.svg);
  position: absolute;
  right: 20px;
  top: 20px;
}

.icon-position2::after {
  content: url(../icons/bookmark-outline.svg);
  position: absolute;
  right: 20px;
  top: 20px;
}

.icon-position3::after {
  content: url(../icons/diamond.svg);
  position: absolute;
  right: 20px;
  top: 20px;
}
 .circle1, .circle2 {
background-color: white;
opacity: 30%;
position: absolute;
border-radius: 50%;
 }

 .circle1{
   top:50%;
   left: 60%;
   width: 200px;
   height: 200px;
 }
 .circle2{
  top:-10%;
  left: 70%;
  width: 150px;
  height: 150px;
}